@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.about1 {
  height: 100vh;
  background-color: lightgrey;
  margin: auto;
}

.contain {
  display: flex;
  height: 100%;
  width: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto Condensed' sans-serif;
}

// .h1, h1 {
//   font-size: 2.5rem;
//   font-weight: 400;
// }

.h2, h2 {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
}

img {
  margin: auto;
  height: 35rem;
  border-radius: 60px;
}

p {
  display: block;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 40%;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.about-me-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 70%;
  padding: 3rem 3rem 3rem 3rem;
}

.photo {
  display: flex;
  margin: auto;
}

// .contain {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-pack: distribute;
//   justify-content: space-around;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }


.para {
  background: 
    linear-gradient(to right, lightgrey, lightgrey),
    linear-gradient(to right, white, white, white);
    // linear-gradient(to right, black, black, black);
    // linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  color: white !important;
  text-decoration: none !important;
}

.para:hover,
.para:focus {
  background-size: 0 0.1em, 100% 0.1em;
}



.wordCarousel {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  div {
      overflow: hidden;
      position: relative;
      height: 3.75rem;
      padding-top: 0.625rem;
      margin-top: 0.625rem;
      li {
          color: #f47362;
          font-weight: 700;
          padding: 0 0.625rem;
          height: 2.8125rem;
          margin-bottom: 2.8125rem;
          display: block;
      }
  }
}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }


@keyframes flip2 {
  0% { margin-top: -180px; }
  5% { margin-top: -90px;  }
  50% { margin-top: -90px; }
  55% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip3 {
  0% { margin-top: -270px; }
  5% { margin-top: -180px; }
  33% { margin-top: -180px; }
  38% { margin-top: -90px; }
  66% { margin-top: -90px; }
  71% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip4 {
  0% { margin-top: -360px; }
  5% { margin-top: -270px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}
