@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.header-wrapper { 
  background-color: #F9F9F9;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.main-info {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  padding-top: 15rem;
  // flex-direction: column;
  justify-content: center;
}

.second-info {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
}
