@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700');

.header-wrapper { 
  background-color: #674b7c;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.main-info {
  font-family: 'Archivo Black', sans-serif;
  color: #f47362;
  display: flex;
  padding-top: 15rem;
  // flex-direction: column;
  justify-content: center;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

.h2, h2 {
  font-size: 1.5rem;
  font-family: 'Judson', serif;
  font-weight:100;
  color: #f47362;
}

.second-info {
  font-family: 'Judson', serif;
  color: #f47362;
  display: flex;
  justify-content: center;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

h3, h3 {
  font-size: 0.85rem;
  font-weight: 100;
  margin-top: 6.5rem;
  color: #f47362;
}

.third-info {
  font-family: 'Judson', serif;
  color: #f47362;
  display: flex;
  justify-content: center;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}






@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}