@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-blue: rgb(59, 193, 238);
  --primary-dark: rgba(255,255,255, 0);
  --primary-white: white;
  --primary-orange: #f47362;
  --primary-purple: #674b7c;
  --primary-grey: lightgrey;
}

.navbar {
  // background-color: var(--primary-purple);
  background: transparent;
}

body {
  font-family: 'Roboto Condensed' sans-serif;
}

.logo {
  width: 13rem;
  padding-top: 1rem;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-top: 1.5rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange)
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
  color: var(--primary-white);
}

a {
  color: var(--primary-white);
}