.whole-page {
  height: 150vh;
  background: url(./images/proj-back.jpeg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.wrapper {
  font-size: 8rem;
  color: #f47362;
  margin-left: 10rem;
  margin-bottom: 3rem;
  // margin-top: 3rem;
}

// .div1 {
//   z-index: 1;
// }

.undraw {
  display: flex;
  justify-content: flex-end;
  margin-top: -37rem;
  margin-right: 18rem;
  z-index: -1;

}